# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Plots (too large for git)
data/
plots/

# Virtual Environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Streamlit
.streamlit/
